.container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.box {
  padding: 20px;
  text-align: center;
}

.blue {
  background-color: darkblue;
}

.red {
  background-color: darkred;
}

.row {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  font-size: 16px;
  margin-bottom: 1px;
  padding: 10px;
  text-align: center;
}

.teeny {
  color: #444;
  height: 10px;
  font-size: 12px;
  position: absolute;
  width: 10px;
  bottom: 10px;
}
